:root{
  --negro: #000000;
  --oscuro: #626262;
  --primario: #deab10;
  --secundario: #0b98ab;
  --blanco: #ffffff;
}
html{
  scroll-behavior: smooth;
}
body {
  
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
  color: var(--blanco);
}

a:hover{
  color: var(--secundario);
  
}
/* BARRA DE NAVEGACION*/
.titulo{
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
.navBar{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.links{
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navBar{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid;
  }
  .links{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .titulo{
    text-align: left;
  }
}


.logo{
  text-transform: uppercase;
  color: var(--secundario);
}


/*PORTADA*/

.portada{
  
  background-color: rgba(16, 18, 27, 0.728);
  
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  -webkit-box-shadow: 2px 17px 30px -7px rgba(0,0,0,0.53);
  -moz-box-shadow: 2px 17px 30px -7px rgba(0,0,0,0.53);
  box-shadow: 2px 17px 30px -7px rgba(0,0,0,0.53);
  padding-bottom: 5rem;
}
.header{

  
  background: url(assets/fotos/foto1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  filter: saturate(1.5);
  
}

@media (min-width: 768px) {

    .portada{
      height: 40rem;
      padding-bottom: 0rem;
    }

    .header{
      height: 40rem;
    }
}

.descripcion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10rem;
    height: 80%;
    font-size: 1.5rem;
    font-weight: 200;
  }  
}


.typewriter{
  color: var(--secundario);
  font-weight: 700;
}

/*ACERCA DE*/

.acercaDe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--oscuro);
  
}
.fotoBartender{
  max-height: 26rem;
  width: 100%;
  border-radius: 3px;
  
}
.titulo2{
  color: var(--secundario);
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}


.texto{
 max-width: 25rem;
  text-align: justify;
  font-size: 1.1rem;
  margin: 1rem;
}

.sobremi{
  margin: 7rem 0rem;
}
.enfasis{
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--secundario);
}

@media (min-width: 1028px) {
  .acercaDe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30rem;
    color: var(--oscuro);
    margin: 0rem 10rem;
    text-align: center;
  }

}

/*FRASE*/

.fondo{
  background-image: url('./assets/fondo.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
  background-attachment: fixed; /* Fija la imagen de fondo */
  background-position: center; /* Centra la imagen de fondo */
  width: 100%;
  height: 30rem;
}
.frase{
  height: 30rem;
  background-color: #00000094;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}
.frase p{
  margin: 0rem 5rem;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .frase p{
    margin: 0rem 10rem;
    font-size: 3rem;
  }
}

/*Galeria de Fotos*/

.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0rem 0rem 5rem;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(5rem, 1fr)); 
  row-gap: 11px;
  width: 80%;
}
.fotito{
  width: 110%;
  height: 5rem;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));  
    row-gap: 20px;
    max-width: 90%;
  }
  .fotito{
    width: 90%;
    height: 10rem;
    border-radius: 5px;
  }
  
}
.photo-thumbnail {
  width: 80%;
  cursor: pointer;
  transition: transform 0.5s;
} 


@media (min-width: 600px) {
  .photo-thumbnail {
    width: 100%;
    height: 10rem;
    cursor: pointer;
    transition: transform 0.5s;
  } 
}


.photo-thumbnail:hover {
  transform: scale(1.1);
}

.photo-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: .5rem;
}
.logoGrande{
  width: 100%;
  height: 20rem;
  background: url(assets/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:20rem;
  background-attachment: fixed;
  background-color: #000000;
}

/*Footer*/



.footer{
  background-color: var(--negro);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

@media (min-width: 768px) {
  .footer{
    background-color: var(--negro);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }
}
.red{
  margin: .5rem;
  filter: invert();
}
.links-footer{
  display: flex;
  flex-direction: column;
  color: var(--negro);
}
.redes{
  margin: 2rem 0rem;
}