:root{
  --negro: #000000;
  --oscuro: #626262;
  --primario: #9872de;
  --secundario: #1757b6;
  --blanco: #ffffff;
}
html{
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
  color: var(--blanco);
}
h1{
  margin: 0;
}

a{
  
  text-decoration: none;
  color: var(--blanco);
}

a:hover{
  
  color: var(--secundario);
  
  
}
.titulo2{
  margin-bottom: 2.5rem;
  color: var(--secundario);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}

.titulo3{
  color: var(--secundario);
  text-align: center;
  font-weight: 400;
}

@media (min-width: 768px) {
  .titulo2{
    font-size: 4rem; 
  }  
}

.ondas{
  margin: -7px 0;
}

/* BARRA DE EGACION*/
.titulo{
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  animation: aparecer 1.5s ease;
}


.links{
  display: flex;
  flex-direction: column;
  animation: aparecer 1.5s ease;
}

.nav-link{
  color: var(--blanco) !important;
  animation: aparecer 1.5s ease;
} 
@media (min-width: 768px) {
  .titulo{
    text-align: left;
  }
}
 
.navbar{
  -webkit-box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.64);
  -moz-box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.64);
  box-shadow: 0px 1px 8px 4px rgba(0,0,0,0.64);
}


.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--secundario);
  animation: aparecer 1.5s ease;
}

.logo img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0.3rem;

}


/*PORTADA*/

.portada{
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.706);
  -webkit-box-shadow: 2px 17px 30px -7px rgba(0,0,0,0.53);
  -moz-box-shadow: 2px 17px 30px -7px rgba(0,0,0,0.53);
  box-shadow: 2px 17px 30px -7px rgba(0,0,0,0.53);
  
}
.header{

  background: url(assets/fotos/portada.jpg);
  background-position: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.botoncito{
  width: 1.6rem;
  background-color: #ffffffbe;
  padding: .2rem;
  border-radius: 50%;
}

.descripcion{
  margin-top: 5rem;
  text-align: center;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10rem;
    height: 80%;
    font-size: 1.5rem;
    font-weight: 200;
  }  
}


.typewriter{
  color: var(--secundario);
  font-weight: 700;
}

/*ACERCA DE*/

.acercaDe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--oscuro);
  margin: 1rem;
  box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.115);
  border-radius: 10px;
  padding: 15px;
  
}
.fotoBartender{
  max-height: 26rem;
  width: 90%;
  border-radius: 10px;
  filter: contrast(120%);
}


@media (max-width: 768px) {
  .fotoBartender{
    max-height: 26rem;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
}

.texto{
 max-width: 25rem;
  text-align: justify;
  font-size: 1.1rem;
 
}

.sobremi{
  margin: 7rem 0rem 10rem;
}
.enfasis{
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--secundario);
}

@media (min-width: 1028px) {
  .acercaDe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30rem;
    color: var(--oscuro);
    margin: 2rem 5rem;
    text-align: center;
  }

}

/*FRASE*/

.fondo{
  background-image: url('./assets/fondo.jpg'); 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center; 
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.fondo p{
  width: auto;
  font-size: 2rem;
 
}
@media (min-width: 768px) {
  .fondo p{
    margin: 0rem 5rem;
    font-size: 3rem;
  }
}

/*Galeria de Fotos*/

.photo-gallery {
  background-color: var(--negro);
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 5rem 0rem 5rem;
}
/* .leftArrow{
  font-size: 5rem;
  width: 10rem;
  text-align: center;
}
.rightArrow{
  font-size: x-large;
  width: 10rem;
  text-align: center;

} */

.photo-grid {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(5rem, 1fr)); 
  row-gap: 11px;
  margin: 1rem 0 1rem 1rem;
}
.fotito{
  width: 150%;
  height: 150%;
  margin: auto;
  transition: transform 0.5s;
  scale: 1.1;
}
.photo-thumbnail {
  width: 90%;
  max-height: 8rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

@media (min-width: 618px) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));  
    row-gap: 15px;
    max-width: 80%;
  }
  .fotito{
    width: 100%;
    height: auto;
  }

  .photo-thumbnail {
    width: 90%;
    height: 10rem;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.5s;
    
    
  } 
  
}


.fotito:hover {
  transform: scale(1.1);
}

.photo-modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.btn-cerrar{
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  border: #ffffff solid 1px;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 2rem;
  
  
}
.photo-modal img {
  max-width: 100%;
  max-height: 100%;
  border-radius: .5rem;
}



.logoGrande{
  width: 100%;
  height: 20rem;
  background: url(assets/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:20rem;
  background-attachment: fixed;
  background-color: #000000;
  padding: 5rem 0;
  margin-bottom: 7rem;
}
.wsp-contenedor{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1757b6;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin: 0 1rem 1rem 0;
  box-shadow: 2px 2px 6px  rgba(0, 0, 0, 0.547);
  animation: aparecer 1s ease;
}
.wsp-btn{
  width: 1.5rem;
  filter: invert();
}
@media (min-width: 768px) {
  .wsp-contenedor{
    margin: 0 3rem 3rem 0;
    width: 4rem;
  height: 4rem;
  }
  .wsp-btn{
    width: 2rem;
   
  }
}

/*Contacto*/

.contacto{
  background-color: var(--secundario);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  
}
.form{
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

.form label{
  font-weight: 700;
}

.form input, textarea {
  background-color: var(--blanco);
  border: none;
  padding: .5rem;
  border-radius: 5px;
  margin: .5rem 0;
  color: var(--oscuro);

}
.contacto .titulo2{
  color: var(--blanco);
  margin: 0 0 2rem 0;
}

.btn{
  background-color: var(--negro);
  border: none;
  padding: .5rem;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  color: var(--blanco);
}

.btn:hover{
  background-color: rgb(18, 18, 18);
  color: var(--blanco);
  
}

/*Footer*/



.footer{
  background-color: var(--negro);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

@media (min-width: 768px) {
  .footer{
    background-color: var(--negro);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }
}
.red{
  margin: .5rem;
  filter: invert();
}
.links-footer{
  display: flex;
  flex-direction: column;
  color: var(--negro);
}
.redes{
  margin: 2rem 0rem;
}
.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--negro);
  text-align: center;
  height: 5rem;
}